@import "theme";

.button {
  @extend .btn, .btn-light, .btn-sm;
  border-radius: 25px;
}

.letter-card {
  @extend .card;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
}

.letter-card-sender {
  @extend .letter-card;
  background-color: #F8F8F8;
}

.letter-card-header {
  @extend .d-flex, .justify-content-end;
}
