
textarea {
  border: none;
  overflow: hidden;
  resize: none;
  width:100%;
  background-color: inherit;
  font-size: 18px;
  padding: 0;
}

input {
  border: none;
}

body {
  background-color: #EDEDE3;
}

.btn {

  border: none;
}

textarea:hover,
textarea:active,
textarea:focus
{
  outline:0 !important;
  -webkit-appearance:none;
}