
textarea {
  border: none;
  overflow: hidden;
  resize: none;
  width:100%;
  border-bottom: 1px solid;
}

textarea:hover,
textarea:active,
textarea:focus
{
  outline:0 !important;
  -webkit-appearance:none;
}