@import "./variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

textarea {
  font-family: 'EB Garamond', serif;
  font-size: 1.4rem;
  color: #474747;
  background: #F7F5F3;
  overflow: hidden;
  resize: none;
  width:100%;
  border: none #474747;
  border-bottom: 1px solid;
}

h1 {
  font-family: 'EB Garamond', serif;
  color: #474747;
  background: #F7F5F3;
}

p {
  font-family: 'EB Garamond', serif;
  color: #474747;
  font-size: 1.4rem;
}

textarea:hover,
textarea:active,
textarea:focus
{
  outline:0 !important;
  -webkit-appearance:none;
}