@import "./variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@media (min-width: 576px) {
  .container {
    width: 400px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container {
    width: 900px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

.element-block {
  padding: 5px;
}

.common-form-group {
  @extend .form-group, .my-1
}

textarea, .form-control {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  color: #474747;
  background: $card-bg;
  overflow: hidden;
  resize: none;
  width:100%;
  border: none #474747;
  margin-bottom: 1rem;
}

.inline-write-login {
  padding-left: 5px;
  padding-right: 5px;
}

h1, h2, h3, h4, .nav-link {
  font-family: 'Open Sans', sans-serif;
  color: #474747;
  background-color: transparent;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #474747;
  font-size: 1.1rem;
}

textarea:hover,
textarea:active,
textarea:focus
{
  outline:0 !important;
  -webkit-appearance:none;
}

.left-main-col {
  @extend .col-sm-4;
  padding: 5px;
}
.right-main-col {
  @extend .col-sm-8;
  padding: 5px;
}