$body-bg: #F7F5F3;
$body-color: #474747;

$person_color: #80BECF;
$other_color: #FFA89A;

$theme-colors: (
        "primary": #686A72,
        "danger": $other_color,
        "success": #b2ffb2,
        "info": $person_color
);